include ../../../_includes/mixin-bg-header

+bg-header('views/content/work/aristide/images/toresize.jpg', 'header/work/aristide')
  h1 Aristide

p This is a paragraph from aristide.jade
p This is another paragraph
