extends ../../../_includes/layout-content-project

block vars
    - var imgHeader = 'views/content/work/aristide/images/toresize.jpg'
    - var imgDest = 'work/aristide'

block header
    h1 Creating a new way to order samples

block content
    p This is a paragraph from aristide
    p This is another paragraph

    +content-image(imgHeader, imgDest, 'Alt text', 'Title text')
