extends ../../../_includes/layout-content-project

block vars
    - var imgDir = 'views/content/work/blenderworld/images/'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgDest = 'work/blenderworld'
    - var title = 'Creating a portal for the Blender community'
    - var client = 'Personal project'
    - var job = 'All branding, design and programming'

block content
    p Lorem ipsum dolor sit amet
