extends ../../../_includes/layout-content-project

block vars
    - var imgDir = 'views/content/work/blenderworld/images/'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgDest = 'work/blenderworld'
    - var title = 'Creating a portal for the Blender community'
    - var client = 'Personal project for the Blender community'
    - var job = 'All branding, design and programming'

block content

    h2 Why a portal?

    p Back in 2010 when Blenderworld was created, there was no central area where new Blender users could find high quality information about the software. Of course there was the official Wiki on <a href="http://www.blender.org" title="Go to the main Blender website" target="_blank">blender.org</a>, but unfortunately the Wiki was much too advanced for newcomers.

    p Many questions arise when starting out with 3D software, such as: How can I move around? How can I create an object? How can I resize it? And more importantly, how can I create an actual detailed 3D model? In order to answer these questions, we need practical non-academic information that gets to the point quickly, such as in a short and basic introduction tutorial.

    p However, back in the days, tutorials for beginners were scattered around the web and many were outdated. Often as a new user you had to search Google how to do things within Blender. Due to the daunting nature of 3D software this resulted in many disillusioned artists rather quickly.

    p Then, the idea came to create one central area where newcomers are welcome, a place where guidance is the most important and most prevalent element of the community. Instead of just remaining an idea, let's turn this idea into reality. Off to the drawing boards!

    //- @TODO: Add photo of sketches
    +content-image(imgHeader, imgDest, 'Alt text', 'Title text')

    //- @TODO: Add logo design
    +content-image(imgHeader, imgDest, 'Alt text', 'Title text')

    //- @TODO: Add design
    +content-image(imgHeader, imgDest, 'Alt text', 'Title text')

    p The original version of this website was built in Drupal 6 with the help of both contrib and custom written modules. Due to time and maintenance constraints this version has been taken down. Chances are that a new version will be created written in a framework and usable on every device. It may be just an idea for the moment, but so was Blenderworld back in 2010.

    p So stay tuned!
