extends ../../../_includes/layout-content-project

block vars
    - var imgDir = 'views/content/work/quasar-online/images/'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgDest = 'work/quasar-online'
    - var title = 'An educational platform for gaming fanatics'
    - var client = 'Personal project as a co-founder'
    - var job = 'All branding, design and programming'

block content

    h2 Pure nostalgia

    p Anyone remembers that old game called XCOM: Ufo Defense from 1994? Or its alias XCOM: Enemy Unknown? No? It was rated as <a href="http://top100.ign.com/2005/011-020.html" title="Check out IGN's rating for XCOM" target="_blank">the 12th best game ever by IGN</a>. There are many raving reviews about this amazing game. For example, Dan Stapleton rated it as <a href="http://www.ign.com/videos/2014/02/21/why-xcom-ufo-defense-is-my-favorite-game-of-all-time" title="View Dan Stapleton's review about XCOM: Ufo Defense" target="_blank">his favorite game of all-time</a>.

    +content-image(imgDir + 'quasar-xcom.jpg', imgDest, 'XCOM Enemy Unknown')

    p We wanted to bring back this nostalgic feeling in a new jacket with modern graphics and gameplay. Together with Luke Williams we started a new initiative called Quasar: Intron Theory. Luke was an excellent writer and studied chemistry at the university. I was a web designer and knew my way around 3D and music as well.

    p The idea behind the project was to make it freely available for everyone by using a Creative Commons license. Furthermore, the project was educational by nature. People were free to join the team in the endeavor to help recreate the pure genius behind the legendary classic. Together, as a team, we could achieve a lot more, learn and have some fun along the way.

    +content-image(imgDir + 'quasar-design.jpg', imgDest, 'Quasar Intro Theory final homepage design')

    p The original website was launched in 2007 and had 3 design iterations over the next year. The one above is the final version from 2008. It was built using ModX which integrated with a vBulletin forum. Trac was used for the Wiki and issue reporting. SVN allowed us to version all assets.

    +content-image(imgDir + 'quasar-design-about.jpg', imgDest, 'Quasar Intro Theory final about page design')

    h2 The game

    p The website above already presented various game elements such as the N'yari Grey, N'yari Plasma Gun and the N'yari Small Scout.

    p The N'yari are a fragile intergalactic race, yet their psychic abilities are very well developed. They communicate by telepathy. This reflects in the hierarchical nature of their society, where the N'yari have one queen per colony to control it. The N'yari evolve at a slow pace, but due to the millions of years of evolution they have experienced their technology is the most advanced of all three species. Yes indeed, 3 species.

    +content-image(imgDir + 'quasar-grey.jpg', imgDest, 'Quasar Intro Theory N\'yari Grey')

    p The other 2 species are the Prakleo and Slarlak, each with their own distinctive properties which propel into a more dynamic gameplay.

    p The Prakleo are an advanced military race. While they are not as advanced or expansionist as the N’yari, they are absolute masters at tactical combat.

    p The Slarlak are not very advanced compared with the N’yari, or very intelligent. However, the Slarlak vastly outweigh the N'yari and humans in number and outmatch them in physical strength.

    h2 Where is it?

    p Or better said... when is it? Due to time and resource constraints for maintaining the server and website it had to be taken down. It will be recreated with a new design and a new codebase in the near future. In the meantime, you can still check <a href="http://www.quasaronline.org" title="Check the original static version" target="_blank">the original static version</a>.

    p So stay tuned!
