section.want-more.wrapper
  .inner
    header
      h1 Want to know more?
    .content
      ul
        li.first
          a(href="/about", data-href="/about", title="Go to the about page.")
            h2 What can I do for you?
            p About
        li
          a(href="/blog", data-href="/blog", title="Go to the blog.")
            h2 Tell me a story
            p Blog
        li.last
          a(href="/contact", data-href="/contact", title="Go to the contact page.")
            h2 Let's do this
            p Contact
