extends ../../../_includes/layout-content-project

block vars
    - var imgDir = 'views/content/work/stealth-bombers/images/'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgDest = 'work/stealth-bombers'
    - var title = 'Motion graphics for Belgium\'s biggest Drum&Bass event'
    - var client = 'Stealth Bombers | while employed at <a href="http://www.openupmedia.be" title="Check out Open Up Media" target="_blank">Open Up Media</a>'
    - var job = 'All 3D modeling, texturing and animation'

block content
    p Lorem ipsum dolor sit amet
