extends ../../../_includes/layout-content-project

block vars
    - var imgDir = 'views/content/work/stealth-bombers/images/'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgDest = 'work/stealth-bombers'
    - var title = 'Motion graphics for Belgium\'s biggest Drum&Bass event'
    - var client = 'Stealth Bombers | while employed at <a href="http://www.openupmedia.be" title="Check out Open Up Media" target="_blank">Open Up Media</a>'
    - var job = 'All 3D modeling, texturing and animation'

block content

    h2 Dropping the bass

    p One of the founders of Stealth Bombers, DJ Echo Virus happens to be my boss at Open Up Media. He wanted a new 3D animation for the upcoming Heavy Weight edition of their event. As usual, a design was made by my colleague Lance with a few very useful and great looking elements: illustrated duotone stealth bombers and bombs.

    p The actual style was made with only 2 base colors, namely blue and very dimly saturated brown which gives that slight hint of chroma dissonance. This color palette and style combined with the stealth bombers were the ideal base for creating the 3D animation.

    //- @TODO: Image of the poster design by Lance
    +content-image(imgHeader, imgDest, 'Alt text', 'Title text')

    p In order to convert the design into 3D elements I used the open-source suite <a href="http://www.blender.org" title="Check out Blender, it's free!" target="_blank">Blender</a>. I also had to use Font Forge since Blender did not yet support <a href="https://en.wikipedia.org/wiki/Polygon" title="Check out the description of an N-Gon" target="_blank">N-Gons</a> back in 2010. So I imported Illustrator elements into a font, which could then be read and used within Blender. It's a nifty trick which is still used in web development.

    +content-image(imgDir + 'stealth-bombers-animating.png', imgDest, 'Animating Stealth Bombers in Blender')

    p The idea behind the animation is to represent Tito and Echo Virus as 2 stealth bombers. They take off, fly towards the Stealth Bombers event and drop the bass using these virtual bombs. The bombs are used as a metaphor and explode into a line-up of amazingly talented artists. And the rest... is history.

    iframe(src="https://player.vimeo.com/video/15276157", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

    p.center For more information about the event, click the button below:

    p.center
        a.button.button_black(href='http://www.stealthbombers.be/', target='_blank') Visit www.stealthbombers.be
