doctype html
html(class='no-js')
  head
    meta(charset='utf-8')

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title The title - Thomas Torfs

    script(src="/js/app.js")
    // script(src="/js/templates.js")

    link(rel="stylesheet", href="/css/app.css")

body
  include _header

  block content

  include _footer
