header
  h1
    a(href="/", data-jump="/", title="Go back to the homepage.")
      | Thomas Torfs

  nav.primary-navigation
    ul
      li.first
        a(href="/", data-jump="/", title="Go to the homepage.")
          | Home
      li
        a(href="/about", data-jump="/about", title="Go to the about page.")
          | About
      li
        a(href="/blog", data-jump="/blog", title="Go to the blog.")
          | Blog
      li
        a(href="/contact", data-jump="/contact", title="Go to the contact page.")
          | Contact

