header
  h1
    a(href="/", data-href="/", title="Go back to the homepage.") Thomas Torfs Portfolio

  nav.primary-navigation
    ul
      li.first
        a(href="/", data-href="/", title="Go to the homepage.") Home
      li
        a(href="/about", data-href="/about", title="Go to the about page.") About
      li
        a(href="/blog", data-href="/blog", title="Go to the blog.") Blog
      li
        a(href="/contact", data-href="/contact", title="Go to the contact page.") Contact
