extends _includes/layout-default

block header-vars
    - var title = 'About'
    - var description = 'I\'m Thomas, jack of several trades and I love many things.'

block content
    include content/about/index