extends _includes/layout-default

block header-vars
    - var title = 'About'
    - var description = 'Hi, I\’m Thomas and I’m a Software Engineer. I’ve been professionally involved for more than 15 years. Over these years my focus has evolved towards Java and Python which I currently use at Aquafin in order to develop applications and apply data engineering.'

block content
    include content/about/index
