extends _includes/layout-default

block header-vars
    - var title = 'Full stack developer'
    - var description = 'Hi, I\'m Thomas, I\'ve been professionally involved for 10 years, mostly by programming websites, but also design, 3D and even a bit of motion graphics. If you want to know more, click on the button below or have a look around.'

block content
    include content/home/index