extends _includes/layout-default

block header-vars
    - var title = 'Full stack IT-services'
    - var description = 'Hi, I\'m Thomas and I’m a Software Engineer. I\'ve been professionally involved for more than 12 years. Over these years my focus has evolved towards Java which I currently use at several companies in order to develop applications.'

block content
    include content/home/index