/**
 * #############################################################################
 *
 * Base: Navigations
 *
 * #############################################################################
 */

nav {
    a {
        font-family: $font-heading;
        text-decoration: none;
        font-weight: 600;
    }
}
