/**
 * #############################################################################
 *
 * Base: Forms
 *
 * #############################################################################
 */

input[type=text],
textarea {
    padding: 10px 15px;
    margin-bottom: 17px;
    border: none;
    line-height: 1.5em;
}


/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    input[type=text],
    textarea {
        padding: 15px 20px;
        margin-bottom: 20px;
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    input[type=text],
    textarea {
        padding: 20px 25px;
        margin-bottom: 25px;
    }
}
