section.wrapper.section--email
    a(href='mailto:info@torfsmedia.com', title='Click here to send me an email in your preferred email client.')
        .wrapper__inner
            header.section__header
                h1 Prefer email?
            .section__content
                p Sure, say hi at info@torfsmedia.com