+wrapper-with-bg('section', 'views/content/contact/images/hero.jpg', 'contact', 'hero hero--bg hero--dualheight hero--contact')
    header.section__header
        h1 Want to say hi?
    .content
        include ../../_includes/partial-form--contact


