+wrapper-with-bg('section', 'views/content/contact/images/hero.jpg', 'contact', 'hero hero--bg hero--dualheight hero--contact')
    header.section__header
        h1 Feel free to leave a message
    .section__content
        include ../../_includes/partial-form--contact
