extends ../../../_includes/layout-content-project

block vars
    - var imgDir = 'views/content/work/heritage-buildings/images/'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgDest = 'work/heritage-buildings'
    - var title = 'A site for pure English craftsmanship'
    - var client = 'Heritage Buildings | while employed at <a href="http://www.openupmedia.be" title="Check out Open Up Media" target="_blank">Open Up Media</a>'
    - var job = 'All programming and technical conversion'

block content

    h2 Hand-crafted with style

    p This may be the least complicated project represented on this website, but it sure is one with style. The whole design breathes quality and authenticity. After all, it mirrors the core values of the company. Traditionally hand-crafted oak buildings finished using only the very best materials immersed in a beautiful natural environment. What else can one dream of?

    p Just like these spectacular oak buildings, the website was hand-crafted using the same philosophy. The back-end is custom-built on what is considered to be the very best CMS at the moment, namely Drupal, and the theming was written from scratch.

    //- @TODO: Image of the design
    +content-image(imgHeader, imgDest, 'Alt text', 'Title text')

    p Let's just have a look, shall we?

    p.center
        a.button.button_black(href='http://www.heritagebuildings.be', target='_blank') Visit the new website

