extends ../../../_includes/layout-content-project

block vars
    - var imgDir = 'views/content/work/heritage-buildings/images/'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgDest = 'work/heritage-buildings'
    - var title = 'Pure English craftsmanship'
    - var client = 'Heritage Buildings | while employed at <a href="http://www.openupmedia.be" title="Check out Open Up Media" target="_blank">Open Up Media</a>'
    - var job = 'All programming and technical conversion'

block content
    p Lorem ipsum dolor sit amet
