/**
 * #############################################################################
 *
 * Settings: Colors
 *
 * #############################################################################
 */

/**
 * color definitions
 * ---------------------------------------------------------------------------*/
/* light greys */
$color-grey-light: #c6c6c6;
$color-grey-lightest: #f1f1f1;

/* greys */
$color-grey: #999999;

/* dark greys */
$color-grey-dark: #2a2a2a;
$color-grey-darker: #1e1e1e;
$color-grey-darkest: #0e0e0e;

/* colors */
$color-red: #ff0808;
$color-blue: #0eb3ed;

/**
 * assignments
 * ---------------------------------------------------------------------------*/
/* backgrounds */
$color-bg-main: #fff;
$color-bg-dark: $color-grey-dark;

/* typography */
$color-font: #000;
$color-font-header: #000;

/* backgrounds */
$color-footer: $color-grey-dark;
$color-footer-bottom: $color-grey-darkest;
