/**
 * #############################################################################
 *
 * Settings: Sizes
 *
 * #############################################################################
 */

/**
 * header
 * ---------------------------------------------------------------------------*/
$sizes-header-height-small: 60px;
$sizes-header-height-large: 70px;

/**
 * transitions
 * ---------------------------------------------------------------------------*/
$transition-duration: 0.3s;
$transition-type: ease;
