/**
 * ############################################################################
 *
 * Base: Navigations
 *
 * #############################################################################
 */

nav {
    a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
    }
}
