/**
 * #############################################################################
 *
 * Objects: Columns
 *
 * #############################################################################
 */

/**
 * Default - 2 Columns
 * ---------------------------------------------------------------------------*/
.cols {
    overflow: hidden;
}
.col {
    padding-bottom: 1px;
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .col {
        float: left;
        width: 50%;
        padding-right: 1px;
    }

    .cols__row-first {
        clear: both;
    }

    .cols__row-last {
        padding-right: 0;
    }
}

/**
 * 3 Columns
 * ---------------------------------------------------------------------------*/
.cols--3 {
    overflow: hidden;

    .col {
        width: 100%;
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .cols--3 {
        .col {
            width: 33.3334%;
        }
    }
}
