/**
 * #############################################################################
 *
 * Objects: Main header
 *
 * #############################################################################
 */

.wrapper.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .header {
        height: $sizes-header-height-large;
    }
}
