/**
 * ############################################################################
 *
 * Objects: Objects
 *
 * #############################################################################
 */

.cols2 {
    li {
        padding-bottom: 1px;
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .cols2 {
        li {
            float: left;
            width: 50%;
        }

        .col2_1 {
            clear: both;
            padding-right: 1px;
        }
    }
}
