/**
 * #############################################################################
 *
 * Components: Hero
 *
 * #############################################################################
 */

.hero {
    /* default typography */
    color: #fff;

    h1, h2, h3, h4, h5 {
        color: #fff;
    }

    h1 {
        font-size: 1.25rem;
    }
}

/* less vertical spacing on heros with background */
.hero--bg {
    padding: $sizes-header-height-small 0;
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .hero {
        padding: $sizes-header-height-large 0;

        /* adjust the title size */
        h1 {
            font-size: 2rem;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .hero {
        /* adjust the title size */
        h1 {
            font-size: 2.75rem;
        }
    }
}
