/**
 * #############################################################################
 *
 * Components: Hero
 *
 * #############################################################################
 */


/**
 * default hero
 * ---------------------------------------------------------------------------*/
.hero {
    /* default typography */
    color: #fff;

    h1, h2, h3, h4, h5 {
        color: #fff;
    }

    h1 {
        font-size: 1.25rem;
    }
}


/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .hero {
        padding: $sizes-header-height-large 0;

        /* adjust the title size */
        h1 {
            font-size: 2rem;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .hero {
        /* adjust the title size */
        h1 {
            font-size: 2.75rem;
        }
    }
}


/**
 * hero with background
 * ---------------------------------------------------------------------------*/
/* less vertical spacing */
.hero--bg {
    padding: $sizes-header-height-small 0;
}


/**
 * hero with different height depending on browser size
 * ---------------------------------------------------------------------------*/
.hero--dualheight {
    /* put some whitespace around the content */
    .inner {
        padding-top: 3em;
        padding-bottom: 2em;
    }
}

/* mobile wide */
@media (min-width: $bp-mobile-wide-min) {
    .hero--dualheight {
        /* put some whitespace around the content */
        .inner {
            padding-top: 4em;
            padding-bottom: 3em;
        }
    }
}

/* tablet wide */
@media (min-width: $bp-tablet-wide-min) {
    .hero--dualheight {
        /* general layout*/
        position: relative;
        display: flex;
        display: -webkit-box;
        align-content: center;
        -webkit-box-align: center;
        min-height: 100vh;

        /* equalize the whitespace on vertical align */
        .inner {
            padding-top: 4em;
            padding-bottom: 4em;
        }
    }
}
