/**
 * ############################################################################
 *
 * Trumps: Hero on the homepage
 *
 * #############################################################################
 */

.hero--home {
    /* general layout*/
    display: flex;
    display: -webkit-box;
    align-content: center;
    -webkit-box-align: center;
    min-height: 100%;

    /* position my head */
    background-position: 60% 50%;

    /* make sure the alignment is only horizontal */
    > .inner {
        width: 100%;
    }

    header {
        /* set the text width */
        width: 48.5%;

        h1 {
            margin: 0;
        }
    }

    .content {
        /* hide the content */
        display: none;
    }

    /* set the margins between the elements */
    header,
    .content {
        margin-bottom: 3em;
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .hero--home {
        /* set the text width */
        header,
        .content {
            width: 52.5%;
        }

        /* show the content */
        .content {
            display: block;
        }
    }
}
