/**
 * ############################################################################
 *
 * Generic: Body
 *
 * #############################################################################
 */

body {
    background: $color-bg-main;
    font-size: 1rem;
    color: $color-font;
}
