/**
 * #############################################################################
 *
 * Main App Styling for IE 9 and lower
 *
 * #############################################################################
 */

.hero--home,
.hero--about,
.hero--contact {
    display: table;
    width: 100%;

    .wrapper__inner {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }
}