/**
 * #############################################################################
 *
 * Components: Star rating
 *
 * #############################################################################
 */

.star-rating {
    display: inline-block;
    height: 20px;
    width: 100px;

    svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        transition: fill $transition-duration $transition-type;
        vertical-align: top;
    }

    .star-rating__stars {
        line-height: 20px;
        margin: 10px 0;
    }

    .star-rating__score {
        display: none;
    }
}

a:hover > .text > .star-rating {
    svg {
        fill: $color-blue;
    }
}

.hero {
    .star-rating,
    .star-rating__stars {
        display: block;
        margin: 0 auto;
        text-align: center;

        svg {
            fill: #fff;
        }
    }
}
