/**
 * #############################################################################
 *
 * Components: Section Text
 *
 * #############################################################################
 */

.section--text {
    /* header with less bottom padding*/
    .section__header {
        h1 {
            margin-bottom: 32px;
        }
    }

    /* intro text */
    .section__intro {
        margin-bottom: 32px;
        font-size: 0.75rem;
        font-weight: 200;
        line-height: 1.875em;
        text-align: left;

        a {
            color: $color-blue;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    /* more padding if it's the first section on the page */
    &:first-of-type {
        padding-top: 100px;
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .section--text {
        /* header with less bottom padding*/
        .section__header {
            h1 {
                margin-bottom: 55px;
            }
        }

        /* intro text */
        .section__intro {
            margin-bottom: 55px;
            font-size: 1rem;
            text-align: center;
        }

        /* more padding if it's the first section on the page */
        &:first-of-type {
            padding-top: 160px;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .section--text {
        /* header with less bottom padding*/
        .section__header {
            h1 {
                margin-bottom: 78px;
            }
        }

        /* intro text */
        .section__intro {
            padding: 0 calc($gutter * 2.5);
            margin-bottom: 78px;
            font-size: 1.125rem;
        }

        /* more padding if it's the first section on the page */
        &:first-of-type {
            padding-top: 200px;
        }
    }
}
