/**
 * #############################################################################
 *
 * Components: Clients list
 *
 * #############################################################################
 */

.list--clients {
    /* add spacing at the top */
    padding-top: 32px;

    /* default typography */
    font-size: 0.875rem;
    line-height: 2em;
    text-align: justify;

    /* spacing below a single client */
    .client {
        margin-bottom: 2em;
    }
    .client.current {
        padding-bottom: 0.5em;
    }

    /* client logo */
    h1 {
        /* general layout*/
        height: 80px;
        text-align: center;
        font-size: 3.5em;

        /* text only */
        &.text {
            display: flex;
            display: -webkit-box;
            align-content: flex-end;
            -webkit-box-align: end;
            justify-content: center;
        }
    }
    img {
        display: block;
        max-width: 200px;
        max-height: 80px;
        margin: 0 auto;
    }

    /* job title */
    h2 {
        margin: 0;
        font-family: $font-serif;
        text-transform: none;
        font-weight: 500;
        font-size: 0.938rem;
        line-height: 1em;
        text-align: center;
    }

    /* subtitle */
    .subtitle {
        margin: 0;
        text-align: center;
        color: $color-grey-2;
    }

    /* links */
    a {
        color: $color-font;

        &:hover {
            color: $color-red;
            text-decoration: none;
        }
    }
}

/* mobile wide */
@media (min-width: $bp-mobile-wide-min) {
    .list--clients {
        /* add padding on the sides */
        .client {
            padding: 0 $gutter;
        }
    }
}

@media (min-width: $bp-tablet-narrow-min) {
    .client.current {
        max-width: $bp-tablet-narrow-min;
        margin: 0 auto 4em auto;
        font-size: 1.125rem;
        line-height: 2em;

        h1 {
            margin-bottom: 0.75em;
        }
        .subtitle {
            margin-bottom: 2em;
        }
    }
}

/* tablet wide */
@media (min-width: $bp-tablet-wide-min) {
    .list--clients {
        /* spacing below a single client */
        .client {
            margin-bottom: 30px;
        }
        .client.current {
            margin-bottom: 4em;
        }
    }
}
