/**
 * #############################################################################
 *
 * Components: Books list
 *
 * #############################################################################
 */


 /**
  * default books list
  * ---------------------------------------------------------------------------*/
.list--books {
    text-align: center;

    li {
        display: inline-block;
        vertical-align: top;
        max-width: $bp-mobile-wide-min;
        width: 75%;
        padding: $gutter;
    }
    li:first-child {
        padding-top: 0;
    }
    li:last-child {
        padding-bottom: 0;
    }

    /* make images use the full width */
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .text {
        margin: 0.75rem 0;
    }
}


/* narrow tablet */
@media (min-width: $bp-tablet-narrow-min) {
    .list--books {
        li {
            max-width: 100%;
            width: 50%;
        }
    }
}

/* wide tablet */
@media (min-width: $bp-tablet-wide-min) {
    .list--books {
        li {
            width: 50%;
        }
        li:first-child,
        li:last-child {
            padding: $gutter;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .list--books {
        li {
            width: 33.33%;
        }
    }
}


/**
 * small books list
 * ---------------------------------------------------------------------------*/
.list--books-small {
    text-align: center;

    li {
        max-width: $bp-mobile-wide-min;
        width: 75%;
    }
}

/* narrow tablet */
@media (min-width: $bp-tablet-narrow-min) {
    .list--books-small {
        li {
            max-width: 50%;
            width: 50%;
        }
    }
}

/* wide tablet */
@media (min-width: $bp-tablet-wide-min) {
    .list--books-small {
        li {
            width: 50%;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .list--books-small {
        li {
            width: 30%;
        }
    }
}



/**
 * other books list
 * ---------------------------------------------------------------------------*/
/* .list--books_other {
    text-align: left;
    margin: 0 auto;

    a {
        display: flex;
        align-items: baseline;
        padding: 0.75rem 0;
        text-decoration: none;
        line-height: 1.25rem;
        color: $color-font;

        &:hover {
            text-decoration: underline;
            color: $color-blue;
        }
    }

    .info {
        float: left;
    }

    .description {
        font-size: 0.875rem;
    }

    .star-rating {
        float: right;
    }
} */

/* narrow tablet */
@media (min-width: $bp-tablet-narrow-min) {
    /* .list--books_other {
        max-width: 450px;
        font-size: 1.125rem;

        a {
            padding: 0.875rem 0;
        }
    } */
}
