/**
 * #############################################################################
 *
 * Trumps: Blogpost previous / next navigation
 *
 * #############################################################################
 */

.nav--prevnext {
    /* remove all padding */
    padding: 0 !important;

    /* hide the header */
    header {
        display: none;
    }

    /* set the link height */
    .bglink {
        height: 200px;
    }
}

/* wide mobile */
@media (min-width: $bp-mobile-wide-min) {
    .nav--prevnext {
        /* add the icon */
        .text {
            position: relative;
            padding: 0 70px;

            &:before {
                position: absolute;
                top: 80px;
                @mixin webfont-icon;
                color: #fff;
                font-size: 40px;

                /* add the animation */
                transition: transform $transition-duration $transition-type;
            }

            h2, p {
                transition: margin $transition-duration $transition-type;
            }
        }

        /* position the icon and animate on hover */
        li {
            &:first-child {
                .text {
                    &:before {
                        right: 30px;
                        content: $icon-arrow-right;
                    }

                    h2, p {
                        margin-right: 10px;
                    }
                }

                a:hover {
                    .text {
                        &:before {
                            transform: translateX(10px);
                        }

                        h2, p {
                            margin-right: 0;
                        }
                    }
                }
            }
            &:last-child {
                .text {
                    &:before {
                        left: 30px;
                        content: $icon-arrow-left;
                    }

                    h2, p {
                        margin-left: 10px;
                    }
                }

                a:hover {
                    .text {
                        &:before {
                            transform: translateX(-10px);
                        }
                    }

                    h2, p {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

/* narrow tablet */
@media (min-width: $bp-tablet-narrow-min) {
    .nav--prevnext {
        /* let the text breathe */
        .text {
            position: relative;
            transition: padding $transition-duration $transition-type, background $transition-duration $transition-type;

            /* fix the icon position */
            &:before {
                top: 130px;
            }
        }

        /* align and animate the text and icon */
        li {
            &:first-child {
                .text {
                    padding: 0 0 0 80px;
                    text-align: left;

                    &:before {
                        right: auto;
                        left: 20px;
                    }

                    h2, p {
                        margin-right: 20px;
                    }
                }

                a:hover {
                    .text {
                        padding: 0 0 0 90px;
                    }
                }
            }
            &:last-child {
                .text {
                    padding: 0 80px 0 0;
                    text-align: right;

                    &:before {
                        left: auto;
                        right: 20px;
                    }

                    h2, p {
                        margin-left: 20px;
                    }
                }

                a:hover {
                    .text {
                        padding: 0 90px 0 0;
                    }
                }
            }
        }

        /* set the link height */
        .bglink {
            height: 300px;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .nav--prevnext {
        /* align and animate the text and icon */
        li {
            &:first-child {
                .text {
                    padding: 0 0 0 150px;

                    &:before {
                        left: 80px;
                    }
                }

                a:hover {
                    .text {
                        padding: 0 0 0 170px;
                    }
                }
            }
            &:last-child {
                .text {
                    padding: 0 150px 0 0;

                    &:before {
                        right: 80px;
                    }
                }

                a:hover {
                    .text {
                        padding: 0 170px 0 0;
                    }
                }
            }
        }

        /* set the link height */
        .bglink {
            height: 400px;
        }

        /* fix the icon position */
        .text {
            &:before {
                top: 180px;
            }
        }
    }
}

/* large desktop */
@media (min-width: $bp-desktop-large-min) {
    .nav--prevnext {
        /* set the link height */
        .bglink {
            height: 500px;
        }

        /* fix the icon position */
        .text {
            &:before {
                top: 230px;
            }
        }
    }
}
