/**
 * #############################################################################
 *
 * Components: Section
 *
 * #############################################################################
 */

section {
    padding: 64px 0;
}

/* header */
.section__header {
    position: relative;

    h1 {
        margin-bottom: 64px;
        font-size: 0.875rem;
        letter-spacing: 0.175rem;
        text-align: center;
    }
}

/* content */
.section__content {
    position: relative;
}

/* more */
.section__more {
    position: relative;
}

/* next button */
.section__next {
    /* positioning */
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -20px;

    /* add the animation */
    transition: transform $transition-duration $transition-type;

    /* icon */
    &:before {
        @mixin webfont-icon;
        content: $icon-arrow-down;
        color: #fff;
        font-size: 40px;
    }

    /* grow on hover */
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    section {
        padding: 110px 0;
    }

    /* header */
    .section__header {
        h1 {
            margin-bottom: 110px;
            font-size: 1.25rem;
            letter-spacing: 0.25rem;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    section {
        padding: 155px 0;
    }

    /* header */
    .section__header {
        h1 {
            margin-bottom: 155px;
            font-size: 1.5rem;
            letter-spacing: 0.375rem;
        }
    }
}
