/**
 * #############################################################################
 *
 * Components: Buttons
 *
 * #############################################################################
 */

/**
 * default button
 * ---------------------------------------------------------------------------*/
.button {
    /* general look */
    display: inline-block;
    padding: 12px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;

    /* font styling with inset */
    font-family: $font-sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1em;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);

    /* shadow */
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);

    /* force a cursor on hover */
    &:hover {
        cursor: pointer;
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    /* medium button and font size */
    .button {
        padding: 14px 17px;
        border-radius: 4px;
        font-size: 1.125rem;
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    /* large button and font size */
    .button_large {
        padding: 19px 21px;
        border-radius: 5px;
        font-size: 1.625rem;
    }
}


/**
 * red button
 * ---------------------------------------------------------------------------*/
.button_red {
    /* specific border style */
    border-top-color: #ff5d5d;
    border-right-color: #7f0000;
    border-bottom-color: #660000;
    border-left-color: #ff4949;

    /* red gradient background */
    background-image: linear-gradient(180deg, #ff3131, #cd0000);

    /* hover background */
    &:hover {
        background-image: linear-gradient(180deg, #ff4646, #d31a1a);
    }

    /* clicked background */
    &:active {
        background-image: linear-gradient(0deg, #ff3131, #cd0000);
    }

    /* disabled background and text */
    &[disabled] {
        color: #0e0e0e;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, .1);
        background-image: linear-gradient(180deg, #101010, #232323);
        border-top-color: #343434;
        border-right-color: #101010;
        border-bottom-color: #151515;
        border-left-color: #393939;
    }
}


/**
 * white button
 * ---------------------------------------------------------------------------*/
.button_white {
    /* dark font */
    color: $color-font;
    text-shadow: 1px 1px 0 #fff;

    /* specific border style */
    border-top-color: #fff;
    border-right-color: #e1e1e1;
    border-bottom-color: #888;
    border-left-color: #e1e1e1;

    /* white gradient background */
    background-image: linear-gradient(180deg, #fff, #ccc);

    /* hover background */
    &:hover {
        background-image: linear-gradient(180deg, #fff, #eee);
    }

    /* clicked background */
    &:active {
        background-image: linear-gradient(0deg, #fff, #ccc);
    }
}


/**
 * black button
 * ---------------------------------------------------------------------------*/
.button_black {
    /* text inset */
    text-shadow: 1px 0 0 rgba(255, 255, 255, .1);

    /* specific border style */
    border-top-color: #404040;
    border-right-color: #171717;
    border-bottom-color: #0a0a0a;
    border-left-color: #171717;

    /* black gradient background */
    background-image: linear-gradient(180deg, #1d1d1d, #0a0a0a);

    /* hover background */
    &:hover {
        background-image: linear-gradient(180deg, #323232, #0d0d0d);
    }

    /* clicked background */
    &:active {
        background-image: linear-gradient(0deg, #323232, #0d0d0d);
    }
}


/**
 * inset button
 * ---------------------------------------------------------------------------*/
.button_black_inset {
    /* shadow */
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.25);
}


/**
 * button icons
 * ---------------------------------------------------------------------------*/
.button.icon {
    /* prepare the button for icon placement */
    position: relative;
    padding-left: 43px !important;

    /* icon */
    &:before {
        position: absolute;
        top: 50%;
        left: 2px;
        margin-top: -9px;

        /* the icon font */
        @mixin webfont-icon;
        color: #fff;
        font-size: 20px;
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .button.icon {
        padding-left: 53px !important;

        &:before {
            left: 5px;
            margin-top: -12px;

            /* icon font */
            font-size: 25px;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .button_large.icon {
        padding-left: 63px !important;

        &:before {
            left: 7px;
            margin-top: -19px;

            /* icon font */
            font-size: 40px;
        }
    }
}

/* button icon definitions */
.button.icon--download {
    &:before {
        content: $icon-download;
    }
}