---
title: 'Torfs Media has launched'
description: 'How this website was built'
author: 'Thomas'
date: '30 September 2016'
timetoread: '2 minute read'
image: 'blog/assets/20160930-new-website/images/hero.jpg'
imageDest: 'blog/20160930-new-website'
_content: false
---

extends ../views/_includes/layout-blogpost

block vars
    - var imgHeader = 'blog/assets/20160930-new-website/images/hero.jpg'
    - var imgDest = 'blog/20160930-new-website'

block header
    h1 Torfs Media has launched
    h2 30 September 2016 <span class="separator">|</span> 2 minute read

block content
    p This is a paragraph from aristide
    p This is another paragraph

    +content-image(imgHeader, imgDest, 'Alt text', 'Title text')
