include mixin-wrapper-with-bg
include mixin-content-image

article.project
    +wrapper-with-bg('header', imgHeader, imgDest, 'hero--project')
        block header

    .text.wrapper
        .inner
            block content
