include mixin-wrapper-with-bg
include mixin-content-image
include mixin-book-image
include mixin-star-rating

block vars

article.article--main.article--reading
    +wrapper-with-bg('header', imgHeader, imgDest, 'hero hero--bg hero--dualheight hero--title hero--reading', imgCaption)
        block header

        .section__next

    .article--main__text.wrapper
        .wrapper__inner
            .wrapper__content
                block content

include partial-prevnext-reading
