doctype html
html(class='no-js js')
    head
        meta(charset='utf-8')

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title The title - Thomas Torfs

        link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700,400", rel="stylesheet", type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:800", rel="stylesheet", type="text/css")
        link(rel="stylesheet", href="/css/app.css")

body.nav--hidden
    include partial-header

    block content

    include partial-footer

    script(src="/js/app.js")