include mixin-wrapper-with-bg
include mixin-content-image

block vars

article.article--main.project
    +wrapper-with-bg('header', imgHeader, imgDest, 'hero hero--bg hero--dualheight hero--title hero--project')
        block header

        .section__next

    .text.wrapper
        .inner
            block content
