include mixin-wrapper-with-bg
include mixin-image-content

block vars

article.project
    +wrapper-with-bg('header', imgHeader, imgDest)
        block header

    .text.wrapper
        .inner
            block content
