mixin bg-header(source, dest)
  - var large = resize.createImage({source: source, suffix: 'large', dest: dest, w: 1920, h: 800, cover: true})
  - var medium = resize.createImage({source: source, suffix: 'medium', dest: dest, w: 1024, h: 600, cover: true})
  - var small = resize.createImage({source: source, suffix: 'small', dest: dest, w: 480, h: 400, cover: true})

  .header.lazyload(data-bgset='#{large} 1920w, #{medium} 1024w, #{small} 480w')
    block