mixin wrapper-with-bg(tag, source, dest)
    - var large = resize.createImage({source: source, suffix: 'large', dest: dest, w: 1920, h: 800, crop: true})
    - var medium = resize.createImage({source: source, suffix: 'medium', dest: dest, w: 1024, h: 600, crop: true})
    - var small = resize.createImage({source: source, suffix: 'small', dest: dest, w: 480, h: 400, crop: true})

    #{tag}.wrapper.lazyload.hero.hero--bg(data-bgset='#{large} 1920w, #{medium} 1024w, #{small} 320w')
        .inner
            block
