section.wrapper.footer--contact
    .wrapper__inner
        .wrapper__content
            header.section__header
                h1 Want to say hi?
            .section__content
                include partial-form--contact