block vars

if header_classes
    - header_classes = 'wrapper header top ' + header_classes
else
    - header_classes = 'wrapper header header--default top'

header(class='#{header_classes}')
    .wrapper__inner.header__main
        .wrapper__content
            h1.logo--main Torfs Consulting
