include mixin-bglink-full

if locals.reading_sorted.length > 2
    section.nav--prevnext.wrapper
        header.section__header
            h1 Reading navigation
        .section__content
            //- Find the current post in the reading array
            - var currentPostIndex = 0
            - var postCount = locals.reading_sorted.length
            
            - each post, i in locals.reading_sorted
                - if (post.title === locals.post.title && post.date === locals.post.date)
                    - currentPostIndex = i
                    - break

            //- Get the next and previous book
            - var nextPostIndex = currentPostIndex + 1
            - var previousPostIndex = currentPostIndex - 1

            //- Check for boundaries and correct the post indices
            - if (nextPostIndex > (postCount - 1))
                - nextPostIndex = 0
            - if (previousPostIndex < 0)
                - previousPostIndex = postCount - 1

            //- Store the previous and next book in a variable for readability
            - var nextPost = locals.reading_sorted[nextPostIndex]
            - var previousPost = locals.reading_sorted[previousPostIndex]
            
            ul.cols.cols--reverse
                li.col
                    +bglink-full(nextPost._url, 'Read ' + nextPost.title, nextPost.image, nextPost.imageDest)
                        h2 #{nextPost.title}
                        p.meta #{nextPost.description}
                li.col
                    +bglink-full(previousPost._url, 'Read ' + previousPost.title, previousPost.image, previousPost.imageDest)
                        h2 #{previousPost.title}
                        p.meta #{previousPost.description}
