include mixin-bglink-cols-3

section.want-more.wrapper
    .wrapper__inner
        .wrapper__content
            header.section__header
                h1 Want to know more?
            .section__content
                ul.cols--3
                    li.first.col.cols__row-first
                        +bglink-cols-3('/about', 'Who is this?', 'views/_includes/images/want-more-about.jpg', 'footer')
                            h2 Who is this?
                            p About
                    li.col
                        +bglink-cols-3('/blog', 'Read a story on the blog', 'views/_includes/images/want-more-blog.jpg', 'footer')
                            h2 Once upon a time...
                            p Blog
                    li.last.col.cols__row-last
                        +bglink-cols-3('/contact', 'Give me a call or drop me a line on the contact page.', 'views/_includes/images/want-more-contact.jpg', 'footer')
                            h2 Let's have a chat
                            p Contact
