include mixin-bglink-cols-3

section.want-more.wrapper
    .wrapper__inner
        .wrapper__content
            header.section__header
                h1 Other pages
            .section__content
                ul.cols--3
                    li.first.col.cols__row-first
                        +bglink-cols-3('/about', 'Who is this?', 'views/_includes/images/want-more-about.jpg', 'footer')
                            h2 About
                            p Just in case...
                    li.col
                        +bglink-cols-3('/blog', 'Read a story on the blog', 'views/_includes/images/want-more-blog.jpg', 'footer')
                            h2 Blog
                            p Occasional musings
                    li.last.col.cols__row-last
                        +bglink-cols-3('/reading', 'Check books which may be worth your time', 'views/_includes/images/want-more-contact.jpg', 'footer')
                            h2 Reading
                            p Worthwile books
