include mixin-bglink-cols-3

section.want-more.wrapper
    .wrapper__inner
        .wrapper__content
            header.section__header
                h1 Want to know more?
            .section__content
                ul.cols--3
                    li.first.col.cols__row-first.bglink_white
                        +bglink-cols-3('/about', 'What can I do for you?', 'views/_includes/images/want-more-about.jpg', 'footer')
                            h2 What can I do for you?
                            p About
                    li.col.bglink_white
                        +bglink-cols-3('/blog', 'Read a story on the blog', 'views/_includes/images/want-more-blog.jpg', 'footer')
                            h2 Tell me a story
                            p Blog
                    li.last.col.cols__row-last
                        +bglink-cols-3('/contact', 'Give me a call or drop me a line on the contact page.', 'views/_includes/images/want-more-contact.jpg', 'footer')
                            h2 Let's do this
                            p Contact
