section.wrapper.section--text.section--hero
    .wrapper__inner
        .wrapper__content
            header.section__header
                h1 Reading
                
                .section__intro
                    p
                        | This page contains a list of books that are truly worth it. New books are added on a regular basis. For a more comprehensive list, please visit <a href="https://www.goodreads.com/thomastorfs" title="Go to my profile on Goodreads" target="_blank">Goodreads</a>.

            .section__content
                if locals.reading
                    ul.list--books
                        - each book in locals.reading
                            li
                                +book-link(book._url, 'Read ' + book.title, book.imageBook, book.imageDest, book.title)
                                    div #{book.title}<br />#{book.description}
                                    +star-rating(book.score)
                else
                    p.center There are currently no books
