---
index: 2
title: 'AE'
type: 'webdevelopment'
linkText: 'See how AE was made'
image: 'views/content/work/ae/images/bglist.jpg'
imageDest: 'work/ae'
_content: false
---

extends ../_includes/layout-default

block header-vars
    - var title = 'AE'
    - var description = 'Creating a onepager website factory'

block content
    include ../content/work/ae/index.jade
