---
index: 1
title: 'Aristide'
type: 'webdevelopment'
linkText: 'See how Aristide was made'
image: 'views/content/work/aristide/images/bglist.jpg'
imageDest: 'work/aristide'
_content: false
---

extends ../_includes/layout-default

block header-vars
    - var title = 'Aristide'
    - var description = 'Creating a new way to order samples'

block content
    include ../content/work/aristide/index.jade
