---
index: 6
title: 'Blenderworld'
type: 'branding, design and webdevelopment'
linkText: 'See how Blenderworld was made'
image: 'views/content/work/blenderworld/images/bglist.jpg'
imageDest: 'work/blenderworld'
_content: false
---

extends ../_includes/layout-default

block header-vars
    - var title = 'Blenderworld'
    - var description = 'Creating a portal for the Blender community'

block content
    include ../content/work/blenderworld/index.jade
