---
index: 4
title: 'Medics4Medics'
type: 'webdevelopment'
linkText: 'See how Medics4Medics was made'
image: 'views/content/work/medics4medics/images/bglist.jpg'
imageDest: 'work/medics4medics'
_content: false
---

extends ../_includes/layout-default

block content
    include ../content/work/medics4medics/index.jade
