---
index: 5
title: 'Quasar Online'
type: 'branding, design, 3D and webdevelopment '
linkText: 'See how Quasar Online was made'
image: 'views/content/work/quasar-online/images/bglist.jpg'
imageDest: 'work/quasar-online'
_content: false
---

extends ../_includes/layout-default

block header-vars
    - var title = 'Quasar Online'
    - var description = 'An educational platform for gaming fanatics'

block content
    include ../content/work/quasar-online/index.jade
