section.wrapper.section-text.about-experience
    .inner
        header.section__header
            h1 My work

        .intro
            p Over the past 10 years I’ve worked for several web companies. They allowed me to get the experience working for all kinds of clients, ranging from single individuals to larger businesses like Mediafin (De Tijd), Efico, Telenet and so on...

        .content
            ul.cols.cols--2-3.list-clients
                li.client.col.cols--2-3__row-1-2.cols--2-3__row-1-3
                    h1
                        img(src='/images/about/logo-oum.png', alt='Open Up Media', class='lazyload')
                    h2 Full Stack Developer &amp; Devops
                    p.subtitle 2013 until now
                    p Savant Media merged into Open Up Media. Here I continue developing several dozen projects, further help optimize the internal development workflow and develop more helpful custom libraries and modules.
                li.client.col.cols--2-3__row-2-2
                    h1
                        img(src='/images/about/logo-savant.png', alt='Savant Media', class='lazyload')
                    h2 Full Stack Developer &amp; Devops
                    p.subtitle 2010
                    p At Savant Media I greatly enhanced the original development workflow and speed by suggesting and implementing various tools, both off-the-shelf and custom written. Over the years I significantly optimized the way we created Drupal projects.
                li.client.col.cols--2-3__row-1-2.cols--2-3__row-3-3
                    h1
                        img(src='/images/about/logo-prophets.png', alt='Prophets', class='lazyload')
                    h2 Freelance Web Designer
                    p.subtitle 2009
                    p Working at Prophets was a great experience. I was responsible for several design tasks and mainly implemented Flash and HTML front-ends for clients such as Coca Cola, Mobistar, AXA Bank and Antwerp City.
                li.client.col.cols--2-3__row-2-2.cols--2-3__row-1-3
                    h1
                        img(src='/images/about/logo-foreach.png', alt='Foreach', class='lazyload')
                    h2 Front-end Developer &amp; Web Designer
                    p.subtitle 2006
                    p The founders of Foreach express great care for personal growth and development. They allowed me to further develop my design and front-end  skills. Here I was given the opportunity to work for large companies such as Mediafin and Telenet.
                li.client.col.cols--2-3__row-1-2
                    h1
                        img(src='/images/about/logo-boulevart.png', alt='Boulevart', class='lazyload')
                    h2 Creative Consultant
                    p.subtitle 2006
                    p Originally being a Flash developer, Boulevart offered me to learn new skills as a Front-end Web Developer. I was responsible for various projects for clients such as Antwerp Diamond Bank, Infront, Fortis, Toyota ...
                li.client.col.cols--2-3__row-2-2.cols--2-3__row-3-3
                    h1.text You?
                    h2
                        a(href='/contact' title='Go to the contact page.') Just give me a call
                    p.subtitle 2016
                    p So, you landed on this site and got this far. Great! That means you’re probably interested in doing business together. Am I right? Just <a href="/contact" title="Go to the contact page">click here and fill in your details</a>. I will get back to you ASAP.
