section.wrapper.section--text.about--experience
    .wrapper__inner
        .wrapper__content
            header.section__header
                h1 15 years of experience

            .section__intro
                p Over the past 15 years I’ve worked for several web companies. Right now I work at <a href="https://www.aquafin.be/en" target="_blank" target="Go to the Aquafin website">Aquafin</a> as an employee. Aquafin works towards streams and brooks full of life and a living environment in harmony with water.

            .section__content
                ul.cols.cols--2-3.list--clients
                    li.client.current
                        h1
                            img(src='/images/about/logo-aquafin.png', alt='Aquafin', class='lazyload')
                        h2 Analyst / Developer
                        p.subtitle 2020 until now
                        p I am currently part of the team that implements Big Data solutions for Aquafin   (formerly also on the team of geospatial solutions). Keywords: Spring, Java, Python, AWS, Azure, Docker, Terraform, Angular, GeoServer, JUnit, Linux, ...
                    li.client.col.cols--2-3__row-1-2.cols--2-3__row-1-3
                        h1
                            img(src='/images/about/logo-argenta.png', alt='Argenta', class='lazyload')
                        h2 Sr Analyst Prog Tech 2
                        p.subtitle 2019
                        p At Argenta I was part of a dynamic team that worked on the extension and improvement of the functionalities which are related to their offices. Keywords: Java, Spring, JUnit, Mockito, Hibernate, JDBC, Oracle Database, SOAP, ...
                    li.client.col.cols--2-3__row-2-2
                        h1
                            img(src='/images/about/logo-juvo.png', alt='Juvo', class='lazyload')
                        h2 Java Developer
                        p.subtitle 2019
                        p At Juvo I worked on a new and innovative medical project for the Flemish Government. Technologies used were Angular, NgRx, Typescript, Java, Spring Boot, Maven, Hibernate, REST (Webservices), CQRS, Docker, Kubernetes, HTML, CSS, Git, ...
                    li.client.col.cols--2-3__row-1-2.cols--2-3__row-3-3
                        h1
                            img(src='/images/about/logo-dxc.png', alt='DXC Technology', class='lazyload')
                        h2 Business Applications Engineer
                        p.subtitle 2018
                        p At DXC I worked on the extension and improvement of the applications for the department Work and Social Economy at the Flemish Government. Keywords: Java, Spring, ActiveMQ, RabbitMQ, Apache Camel, PostgreSQL, Oracle DB, ...
                    li.client.col.cols--2-3__row-2-2.cols--2-3__row-1-3
                        h1
                            img(src='/images/about/logo-ixor.png', alt='Ixor', class='lazyload')
                        h2 Software Developer
                        p.subtitle 2016
                        p I worked on 5 larger projects at IXOR, both solo as part of a talented team. These projects consisted both of Back-End Development in Java and Groovy as well as Front-End Development in React and ES6 (JavaScript).
                    li.client.col.cols--2-3__row-1-2
                        h1
                            img(src='/images/about/logo-oum.png', alt='Open Up Media', class='lazyload')
                        h2 Full Stack Developer &amp; Devops
                        p.subtitle 2013
                        p Savant Media merged into Open Up Media. Here I continue developing several dozen projects, further help optimize the internal development workflow and develop more helpful custom libraries and modules.
                    li.client.col.cols--2-3__row-2-2.cols--2-3__row-3-3
                        h1
                            img(src='/images/about/logo-savant.png', alt='Savant Media', class='lazyload')
                        h2 Full Stack Developer &amp; Devops
                        p.subtitle 2010
                        p At Savant Media I greatly enhanced the original development workflow and speed by suggesting and implementing various tools, both off-the-shelf and custom written. Over the years I significantly optimized the way we created Drupal projects.
                    li.client.col.cols--2-3__row-1-2.cols--2-3__row-1-3
                        h1
                            img(src='/images/about/logo-prophets.png', alt='Prophets', class='lazyload')
                        h2 Freelance Web Designer
                        p.subtitle 2009
                        p Working at Prophets was a great experience. I was responsible for several design tasks and mainly implemented Flash and HTML front-ends for clients such as Coca Cola, Mobistar, AXA Bank and Antwerp City.
                    li.client.col.cols--2-3__row-2-2
                        h1
                            img(src='/images/about/logo-foreach.png', alt='Foreach', class='lazyload')
                        h2 Front-end Developer &amp; Web Designer
                        p.subtitle 2006
                        p The founders of Foreach express great care for personal growth and development. They allowed me to further develop my design and front-end  skills. Here I was given the opportunity to work for large companies such as Mediafin and Telenet.
                    li.client.col.cols--2-3__row-1-2.cols--2-3__row-3-3
                        h1
                            img(src='/images/about/logo-boulevart.png', alt='Boulevart', class='lazyload')
                        h2 Creative Consultant
                        p.subtitle 2006
                        p Originally being a Flash developer, Boulevart offered me to learn new skills as a Front-end Web Developer. I was responsible for various projects for clients such as Antwerp Diamond Bank, Infront, Fortis, Toyota ...
