+wrapper-with-bg('section', 'views/content/about/images/hero.jpg', 'about', 'hero hero--bg hero--dualheight hero--about')
    header.hero__header
        h1
            | I'm Thomas <br />
            | just another soul <br />
            | that <span class="love">loves</span> <span id="topic-no-js">doing the right thing</span><span class="topic"></span>
        script.
            var topicNoJs = document.getElementById('topic-no-js');
            topicNoJs.parentNode.removeChild(topicNoJs);

    .section__content
        p <span class="col">But that doesn't really say anything, does it? There used to be a pretentious marketing text right here. And as we all know, time passes. Life goes on. Things change. New insights are gained. New goals are created. It is slowly becoming more and more clear where our</span> <span class="col">world is heading to. For as long as I will be able to, I am going to try to help wherever possible. Is the current direction the right one? I don't know, but I do know that I want to follow my heart. I have an 8 year old son, and I would like to help creating a better future for him.</span>

    .section__download-resume
        a.button.button_black.button_black_inset.icon.icon--download(href='/files/Resume_Thomas_Torfs_2021.pdf', data-href='/about', title='Download my resume here.', target='_blank')
            strong Download my resume
