+wrapper-with-bg('section', 'views/content/about/images/hero.jpg', 'about', 'hero hero--bg hero--dualheight hero--about')
    header
        h1
            | I'm Thomas <br />
            | Jack of several trades <br />
            | and... <br />
            | I <span class="love">love</span> <span class="topic">music</span>

    .content
        p <span class="col">But that doesn’t really say anything, does it? The question is: how can I help you? If you’re looking for someone to help you create your product or solution, I just may be the guy you’re looking for. Sounds like just another marketing talk? Actually, I’ll be honest. It depends. I specialize in web development </span><span class="col">and design. So, what makes me so different from the rest? Simple. Being a true jack of several trades gives me the ability to better understand the full picture. It helps me understand what you’re looking for and how to translate that into a great solution, both visually and technically.</span>

    .download-resume
        a.button.button--inset.button--small.icon.icon--download(href='/files/Resume_Thomas_Torfs.pdf', data-href='/about', title='Download my resume here.') Download my resume