+wrapper-with-bg('section', 'views/content/about/images/skills.jpg', 'about', 'section--text about--skillset')
    header.section__header
        h1 My skillset

    .section__intro
        p My skills range from software development to design and a bit of 3D, but mostly development. These are merely methods to reach a certain goal. The goal right now is to support Aquafin by helping to create digital solutions.

    .section__content
        ul.cols.skillgroup
            li.first.col.cols__row-first
                h2 General
                dl.skillset
                    dt Software Development 
                        dd.perc-bar.perc-bar--90 Excellent
                    dt Data Engineering
                        dd.perc-bar.perc-bar--75 Great
                    dt Linux Server Management
                        dd.perc-bar.perc-bar--60 Good
                    dt Design &amp; 3D 
                        dd.perc-bar.perc-bar--45 Basics
            li.col.cols__row-last
                h2 Technical
                dl.skillset
                    dt Java &amp; Python 
                        dd.perc-bar.perc-bar--90 Excellent
                    dt JavaScript, HTML &amp; CSS 
                        dd.perc-bar.perc-bar--75 Great
                    dt Git 
                        dd.perc-bar.perc-bar--60 Good
                    dt Bash 
                        dd.perc-bar.perc-bar--45 Basics
            li.first.col.cols__row-first
                h2 Design
                dl.skillset
                    dt Photoshop 
                        dd.perc-bar.perc-bar--90 Excellent
                    dt Blender 
                        dd.perc-bar.perc-bar--75 Great
                    dt Illustrator 
                        dd.perc-bar.perc-bar--60 Good
                    dt Indesign 
                        dd.perc-bar.perc-bar--45 Basics
            li.col.cols__row-last
                h2 Languages
                dl.skillset
                    dt Dutch 
                        dd.perc-bar.perc-bar--90 Excellent
                    dt English 
                        dd.perc-bar.perc-bar--75 Great
                    dt French 
                        dd.perc-bar.perc-bar--60 Good
                    dt Spanish 
                        dd.perc-bar.perc-bar--45 Basics
