+wrapper-with-bg('section', 'views/content/about/images/skills.jpg', 'about', 'section--text about--skillset')
    header.section__header
        h1 My skillset

    .section__intro
        p My skills range from programming to design and even 3D, but mostly programming. The chart below gives you a quick overview of how this adds up.

    .section__content
        ul.cols.skillgroup
            li.first.col.cols__row-first
                h2 General
                dl.skillset
                    dt Programming
                        dd.perc-bar.perc-bar--90 Excellent
                    dt Design &amp; 3D 
                        dd.perc-bar.perc-bar--75 Great
                    dt Linux Server Management 
                        dd.perc-bar.perc-bar--60 Good
                    dt Project Management 
                        dd.perc-bar.perc-bar--45 Basics
            li.col.cols__row-last
                h2 Technical
                dl.skillset
                    dt JavaScript, HTML &amp; CSS
                        dd.perc-bar.perc-bar--90 Excellent
                    dt Java &amp; Groovy
                        dd.perc-bar.perc-bar--75 Great
                    dt Git &amp; SVN 
                        dd.perc-bar.perc-bar--60 Good
                    dt Python
                        dd.perc-bar.perc-bar--45 Basics
            li.first.col.cols__row-first
                h2 Design
                dl.skillset
                    dt Photoshop 
                        dd.perc-bar.perc-bar--90 Excellent
                    dt Blender 
                        dd.perc-bar.perc-bar--75 Great
                    dt Illustrator 
                        dd.perc-bar.perc-bar--60 Good
                    dt Indesign 
                        dd.perc-bar.perc-bar--45 Basics
            li.col.cols__row-last
                h2 Languages
                dl.skillset
                    dt Dutch 
                        dd.perc-bar.perc-bar--90 Excellent
                    dt English 
                        dd.perc-bar.perc-bar--75 Great
                    dt French 
                        dd.perc-bar.perc-bar--60 Good
                    dt Spanish 
                        dd.perc-bar.perc-bar--45 Basics
