+wrapper-with-bg('section', 'views/content/about/images/skills.jpg', 'about', 'section-text about-skillset')
    header.section__header
        h1 My skillset

    .intro
        p My skills range from programming to design and even 3D. The chart below gives you a quick overview of how this adds up.

    .content
        ul.cols
            li.first.col.cols__row-first
                h2 General
                ul.text-chart
                    li Web Development 
                        span.perc-90 Excellent
                    li Design &amp; 3D 
                        span.perc-75 Great
                    li Linux Server Management 
                        span.perc-60 Good
                    li Project Management 
                        span.perc-45 Basics
            li.col.cols__row-last
                h2 Technical
                ul.text-chart
                    li PHP, HTML &amp; CSS 
                        span.perc-90 Excellent
                    li JavaScript 
                        span.perc-75 Great
                    li Git &amp; SVN 
                        span.perc-60 Good
                    li Java &amp; Python 
                        span.perc-45 Basics
            li.first.col.cols__row-first
                h2 Design
                ul.text-chart
                    li Photoshop 
                        span.perc-90 Excellent
                    li Blender 
                        span.perc-75 Great
                    li Illustrator 
                        span.perc-60 Good
                    li Indesign 
                        span.perc-45 Basics
            li.col.cols__row-last
                h2 Languages
                ul.text-chart
                    li Dutch 
                        span.perc-90 Excellent
                    li English 
                        span.perc-75 Great
                    li French 
                        span.perc-60 Good
                    li Spanish 
                        span.perc-45 Basics
