---
title: 'Dummy post'
description: 'Lorem ipsum dolor sit amet'
author: 'Thomas'
date: '03/07/2016'
dateFull: '3 July 2016'
timetoread: '2 minute read'
image: 'blog/assets/deleteme/images/hero2.jpg'
imageDest: 'blog/deleteme'
_content: false
---

extends ../_includes/layout-blogpost

block vars
    - var imgSrc = 'views/blog/assets/deleteme/images/'
    - var imgDest = 'blog/deleteme'
    - var imgHeader = imgSrc + 'hero2.jpg'

block header
    h1 Dummy post consectetur adepiscing elit
    p.meta 30 September 2016 <span class="separator">|</span> 2 minute read

block content
    h2 Lorem ipsum dolor

    p Vivamus eu hendrerit turpis. Vivamus in mi id leo pellentesque eleifend id in massa. Morbi commodo nunc ultricies metus dapibus tristique. Donec faucibus neque et pulvinar vestibulum. Curabitur vel varius leo, sagittis mattis ante. Donec at nisi arcu. Integer in porta erat.

    p Nulla ac felis vel nisl auctor lobortis vitae a metus. Cras arcu elit, faucibus non posuere non, ultricies vitae magna. Maecenas a lobortis arcu, rutrum tempus ligula. Aenean placerat elit ac enim rhoncus commodo. Curabitur luctus fringilla accumsan.

    h3 Lorem ipsum dolor

    p Vivamus eu hendrerit turpis. Vivamus in mi id leo pellentesque eleifend id in massa. Morbi commodo nunc ultricies metus dapibus tristique. Donec faucibus neque et pulvinar vestibulum. Curabitur vel varius leo, sagittis mattis ante. Donec at nisi arcu. Integer in porta erat.

    p Nulla ac felis vel nisl auctor lobortis vitae a metus. Cras arcu elit, faucibus non posuere non, ultricies vitae magna. Maecenas a lobortis arcu, rutrum tempus ligula. Aenean placerat elit ac enim rhoncus commodo. Curabitur luctus fringilla accumsan.

    h4 Lorem ipsum dolor

    p Vivamus eu hendrerit turpis. Vivamus in mi id leo pellentesque eleifend id in massa. Morbi commodo nunc ultricies metus dapibus tristique. Donec faucibus neque et pulvinar vestibulum. Curabitur vel varius leo, sagittis mattis ante. Donec at nisi arcu. Integer in porta erat.

    p Nulla ac felis vel nisl auctor lobortis vitae a metus. Cras arcu elit, faucibus non posuere non, ultricies vitae magna. Maecenas a lobortis arcu, rutrum tempus ligula. Aenean placerat elit ac enim rhoncus commodo. Curabitur luctus fringilla accumsan.

    +content-image(imgSrc + 'dummy.jpg', imgDest, 'Alt text', 'Title text')
