/**
 * #############################################################################
 *
 * Trumps: Footer contact
 *
 * #############################################################################
 */

.footer--contact {
    /* dark background */
    background: $color-grey-dark;

    /* general text styling */
    text-align: center;
    color: #fff;

    /* title styling */
    .section__header {
        h1 {
            margin-bottom: 30px;
            color: #fff;
        }
    }

    /* dark input fields */
    input[type=text],
    textarea {
        background: $color-grey-darker;
        color: #fff;
    }
    input::placeholder,
    textarea::placeholder {
        color: $color-grey;
    }
}

/* narrow tablet */
@media (min-width: $bp-tablet-narrow-min) {
    .footer--contact {
        /* small top padding */
        padding-top: 80px;

        /* title styling */
        .section__header {
            h1 {
                margin-bottom: 40px;
            }
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .footer--contact {
        /* medium top padding */
        padding-top: 90px;

        /* title styling */
        .section__header {
            h1 {
                margin-bottom: 60px;
            }
        }
    }
}
