/**
 * #############################################################################
 *
 * Trumps: Main navigation
 *
 * #############################################################################
 */

/**
 * primary navigation
 * ---------------------------------------------------------------------------*/
.nav--primary {
    li {
        text-align: center;
    }

    a {
        display: block;
        color: #fff;

        &:hover {
            background: $color-bg-white-trans-light;
        }
    }
}

/* mobile */
@media (max-width: $bp-mobile-wide-max) {
    /* hidden by default */
    .header__nav {
        height: 0;
    }
    .nav--primary {
        position: relative;
        top: -999px;
        padding-top: $sizes-header-height-small;
        transition: top $transition-duration $transition-type;

        a {
            padding: 10px 0;
            margin: 10px 0;
        }
    }

    /* when the navigation is visible */
    .nav--visible {
        /* prevent scrolling of the body */
        overflow: hidden;

        /* adjust header height and background color */
        .wrapper.header {
            top: 0; /* make sure we position the header at the top in all cases */
            height: 100%;
            background: $color-bg-blue-trans;
        }

        /* make sure we can scroll the navigation if it's out of sight */
        .header__nav {
            overflow-y: auto;
            height: 100%;
        }

        /* show the navigation */
        .nav--primary {
            top: 0;
        }
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .nav--primary {
        display: block;
        overflow: hidden;
        margin: 0 auto;
        padding: 0 $gutter;
        max-width: $bp-desktop-large-min;

        li {
            float: left;
            width: 20%;
        }

        a {
            height: $sizes-header-height-large;
            line-height: $sizes-header-height-large;
        }

        .blog {
            margin-left: 20%;
        }
    }

    /* dark header */
    .header--dark.top {
        .nav--primary {
            a {
                color: $color-font-header;

                &:hover {
                    background: $color-bg-blue-trans;
                    color: #fff;
                }
            }
        }
    }
}


/**
 * navigation toggler
 * ---------------------------------------------------------------------------*/
 /* mobile */
@media (max-width: $bp-mobile-wide-max) {
    .nav-toggler {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: auto;
        height: $sizes-header-height-small;
        padding: 2px 60px 0 20px;
        padding-right: 55px;
        font-family: $font-sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        line-height: $sizes-header-height-small;
        color: #fff;
        z-index: 999;

        &:hover {
            background: $color-bg-white-trans-light;
        }

        /* the hamburger */
        &:after,
        strong:before,
        strong:after {
            position: absolute;
            right: 15px;
            top: 19px;
            display: block;
            width: 30px;
            height: 4px;
            content: " ";
            background: #fff;
            border-radius: 2px;
        }
        &:after {
            transition-duration: $transition-duration;
        }
        strong:before {
            top: 29px;
            transition: opacity $transition-duration $transition-type, background $transition-duration $transition-type;
        }
        strong:after {
            top: 39px;
            transition-duration: $transition-duration;
        }
    }

    /* when the navigation is visible */
    .nav--visible {
        .nav-toggler {
            &:after {
                transform: translate3d(0, 10px, 0) rotate(135deg);
            }
            strong:before {
                opacity: 0;
            }
            strong:after {
                transform: translate3d(0, -10px, 0) rotate(-135deg);
            }
        }
    }

    /* dark header with hidden navigation */
    .nav--hidden {
        .header--dark.top {
            .nav-toggler {
                color: $color-font;

                &:hover {
                    background: $color-bg-blue-trans;
                    color: #fff;

                    /* the hamburger */
                    &:after,
                    strong:before,
                    strong:after {
                        background: #fff;
                    }
                }

                /* the hamburger */
                &:after,
                strong:before,
                strong:after {
                    background: $color-font;
                }
            }
        }
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .nav-toggler {
        display: none;
    }
}