/**
 * #############################################################################
 *
 * Trumps: Main article
 *
 * #############################################################################
 */

.article--main__text {
    /* add padding */
    padding: 70px 0;

    /* set the maximum width */
    max-width: 1200px;
    margin: 0 auto;

    /* increase the default text size */
    font-size: 1.125em;
    line-height: 2em;

    /* headings */
    h2, h3, h4 {
        margin: 0;
        padding: 2.5em 0;
        letter-spacing: 0.175em;
        text-align: left;

        /* don't add a top margin on the first one */
        &:first-child {
            padding-top: 0;
        }

        /* descriptive titles */
        &.descriptive {
            padding-bottom: 0;
        }
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 0.875em;
    }
    h4 {
        font-size: 0.75em;
    }

    /* add padding to the paragraphs, more reliable than margins */
    p {
        padding-bottom: 2em;
    }

    blockquote {
        margin-bottom: 2em !important;
    }

    /* set the maximum width for paragraphs and headings */
    p, h2, h3, h4, blockquote, ul, ol, figcaption {
        max-width: 800px;
        margin: 0 auto;
    }

    /* add link styling */
    a {
        color: $color-blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    /* make images use the full width */
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    /* extra styling for the image wrappers */
    picture {
        /* add vertical margin */
        margin: 3em 0 4em 0;

        /* make the lazyloading background less harsh */
        &:before {
            background-color: $color-grey-lighter;
        }
        /* do the same for the throbber */
        &:after {
            border-left-color: rgba(0, 0, 0, 0.2);
        }
    }

    /* lists */
    ol {
        counter-reset: custom-counter;

        li {
            position: relative;
            padding: 0 0 1em 2em;
            counter-increment: custom-counter;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: counter(custom-counter) ".";
            }
        }
    }

    /* book image */
    .book--image {
        width: 50%;
        margin: 0 auto;

        .text {
            position: relative;
            top: -3em;
        }
    }
}

/* narrow tablet */
@media (min-width: $bp-tablet-narrow-min) {
    .article--main__text {
        /* increase the padding */
        padding: 90px 0;
    }
}

/* wide tablet */
@media (min-width: $bp-tablet-wide-min) {
    .article--main__text {
        /* increase the padding */
        padding: 120px 0;

        /* increase the text size */
        font-size: 1.25em;
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .article--main__text {
        /* increase the padding */
        padding: 150px 0;
    }
}
