/**
 * #############################################################################
 *
 * Trumps: Contact form
 *
 * #############################################################################
 */

.form--contact {
    /* set the form width & center the buttons */
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    /* hide the labels */
    label {
        display: none;
    }

    /* dark input fields */
    input[type=text],
    textarea {
        width: 100%;
    }
    input::placeholder,
    textarea::placeholder {
        color: $color-grey-2;
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .form--contact {
        max-width: 600px;
    }
}
