/**
 * #############################################################################
 *
 * Trumps: List of notes
 *
 * #############################################################################
 */

ul.notes {

    li {
        position: relative;
        padding: 0 0 1.75rem 2.5rem;
        font-size: 0.875em;
        line-height: 2em;

        .progress {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background: #fff;
            font-size: 0.85rem;
            font-style: italic;
            color: $color-grey;
            z-index: 100;
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0.5rem;
            bottom: 0;
            display: block;
            width: 3px;
            background: $color-grey;
            content: " ";
            z-index: 0;
        }
    }

    li:last-child {
        padding-bottom: 0;
    }
}
