/**
 * #############################################################################
 *
 * Trumps: Download bar
 *
 * #############################################################################
 */

.resume--download {
    background: $color-blue;

    .section__download-resume {
        padding: 1em 0;
        text-align: center;
    }
}
