/**
 * #############################################################################
 *
 * Trumps: Main logo
 *
 * #############################################################################
 */

.logo--main {
    position: absolute;
    top: 0;
    left: $gutter;
    width: 100%;
    height: 0;
    margin: 0;
    z-index: 999;

    a {
        display: block;
        height: $sizes-header-height-small;
        width: 42px;
        padding: calc(($sizes-header-height-small - 24px) / 2) 0;
    }

    svg {
        width: 100%;
        height: 100%;

        /* make it white */
        fill: #fff;
        transition: fill $transition-duration ease 0s;
    }
}

/* dark header */
.header--dark.top {
    .logo--main {
        svg {
            fill: $color-font;
        }
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .logo--main {
        left: 0;

        a {
            width: 20%;
            max-width: 200px;
            margin: 0 auto;
            padding: calc(($sizes-header-height-large - 32px) / 2);
            height: $sizes-header-height-large;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .logo--main {
        a {
            padding: calc(($sizes-header-height-large - 40px) / 2);
        }
    }
}
