/**
 * #############################################################################
 *
 * Trumps: Hero on the about page
 *
 * #############################################################################
 */

.hero--about {
    /* define header whitespace */
    header {
        margin-bottom: 2em;

        h1 {
            margin: 0;
            text-align: center;
        }
    }

    a {
        &:hover {
            color: $color-blue-light;
            text-decoration: none;
        }
    }

    /* make sure the content does not stick against the wall */
    .section__content {
        text-align: justify;
    }

    /* Position the download on the bottom, always */
    .section__download-resume {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1em 0;
        background: #000;
        text-align: center;
    }

    /* the love icon */
    .love {
        position: relative;
        display: inline-block;
        width: 0;
        padding-left: 1em;
        overflow: hidden;

        &:before {
            /* positioning and layout */
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            display: block;
            width: 100% !important;


            /* icon */
            @mixin webfont-icon;
            content: $icon-heart;
            color: $color-red;
            font-size: 1em;
            text-align: center;
            height: 0.825em;
        }
    }

    /* add a background overlay */
    &.lazyloaded:before {
        opacity: 0.4;
    }
}

/* mobile narrow */
@media (min-width: $bp-mobile-narrow-min) {
    .hero--about {
        /* make sure the content can breathe */
        .section__content {
            width: 85%;
            margin: 0 auto;
        }
    }
}

/* mobile wide */
@media (min-width: $bp-mobile-wide-min) {
    .hero--about {
        /* more whitespace for the header */
        header {
            margin-bottom: 3em;
        }

        /* make sure the content can breathe */
        .section__content {
            width: 70%;

            p {
                padding: 0 $gutter;
            }
        }
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .hero--about {
        /* set the text width */
        header {
            width: 60%;
            margin: 0 auto 5em auto;
        }

        /* the content needs to occupy the width of the page */
        .section__content {
            width: 100%;
            overflow: hidden;
        }

        /* adjust the columns */
        .col {
            padding: 0 $gutter;
        }
    }
}

/* tablet wide */
@media (min-width: $bp-tablet-wide-min) {
    .hero--about {
        /* clearfix for the content */
        .section__content {
            overflow: hidden;
        }

        /* set the text width */
        header {
            width: 45%;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .hero--about {
        /* again, more whitespace for the header */
        header {
            h1 {
                margin-bottom: 2em;
            }
        }

        /* adjust the columns */
        .col {
            padding: 0 4%;
        }
    }
}

/* large desktop */
@media (min-width: $bp-desktop-large-min) {
    .hero--about {
        /* adjust the columns */
        .col:first-child {
            padding-left: 0;
            padding-right: 4%;
        }
        .col:last-child {
            padding-left: 4%;
            padding-right: 0;
        }
    }
}
