/**
 * #############################################################################
 *
 * Trumps: Project information
 *
 * #############################################################################
 */

/* info wrapper */
.project__info {
    /* let it breathe */
    margin: 0;
    padding: 2em $gutter;

    /* black background */
    background: #000;

    /* white text */
    color: #fff;

    /* links */
    a {
        color: #fff;
        white-space: nowrap;

        &:hover {
            color: $color-blue;
        }
    }
}

/* title */
.project__info__title {
    /* grey sans-serif text */
    font-family: $font-heading;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.375em;
    color: $color-grey-3;

    /* with a bit space beneath */
    margin-bottom: 0.375em;
}

/* text */
.project__info__desc {
    /* no margin */
    margin: 0;

    /* a bit larger */
    font-size: 0.875rem;
    line-height: 1.375em;
}

/* remove default margin */
.project__info__who,
.project__info__what {
    margin: 0;
}

/* description */
.project__info__what {
    margin-top: 1.5em;
}

/* wide tablet */
@media (min-width: $bp-tablet-wide-min) {
    .project__info {
        position: absolute;
        top: 100%;
        width: 100%;
        transform: translateY(-100%);
        overflow: hidden;
        z-index: 3;

        /* the center separator */
        &:before {
            position: absolute;
            top: 1em;
            bottom: 1em;
            left: 50%;
            border-left: solid 1px $color-grey-dark;
            content: ' ';
        }
    }

    /* text */
    .project__info__desc {
        font-size: 1em;
    }

    /* remove default margin */
    .project__info__who,
    .project__info__what {
        float: left;
        width: 50%;
        margin: 0;
    }

    /* client text to the right */
    .project__info__who {
        padding-right: $gutter;
        text-align: right;
    }

    /* description */
    .project__info__what {
        padding-left: $gutter;
    }
}
