/**
 * #############################################################################
 *
 * Trumps: Hero on the homepage
 *
 * #############################################################################
 */

.hero--home {
    /* general layout*/
    display: table;
    width: 100%;
    height: 90%;

    /* position my head */
    background-position: 60% 50%;

    /* make sure the alignment is only horizontal */
    .wrapper__inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    header {
        /* set the text width */
        width: 55%;

        h1 {
            margin: 0;
        }
    }

    a {
        &:hover {
            color: #a7e45c;
            text-decoration: none;
        }
    }

    /* set the margins between the elements */
    header,
    .section__content {
        margin-bottom: 3em;
    }

    /* show the next button below the text */
    .section__next {
        display: block;
        position: relative;
        top: 0;
        width: 40px;
        height: 40;
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .hero--home {
        /* set the text width */
        header,
        .section__content {
            width: 52.5%;
        }

        /* show the content */
        .section__content {
            display: block;

            /* add some shadow */
            text-shadow: 0 0 10px #000;
        }
    }
}
