/**
 * #############################################################################
 *
 * Trumps: Want more navigation
 *
 * #############################################################################
 */

.want-more {
    /* smaller bottom padding */
    padding-bottom: $gutter;

    /* lightgrey background */
    background: $color-grey-lightest;

    /* height and text formatting */
    .text {
        height: 160px;
        padding: 1em 60% 0 22px;
        text-align: left;
    }
}

/* tablet narrow */
@media (min-width: $bp-tablet-narrow-min) {
    .want-more {
        /* slightly larger bottom padding */
        padding-bottom: 65px;

        /* medium title bottom margin */
        .section__header {
            h1 {
                margin-bottom: 55px;
            }
        }

        /* medium height and text formatting */
        .text {
            height: 180px;
            padding: 22px 35% 0 22px;
            vertical-align: top;
            text-align: left;
        }
    }
}

/* desktop */
@media (min-width: $bp-desktop-min) {
    .want-more {
        /* large bottom padding */
        padding-bottom: 165px;

        /* large title bottom margin */
        .section__header {
            h1 {
                margin-bottom: 85px;
            }
        }

        /* larger height and text formatting */
        .text {
            height: 240px;
            padding: 40px 40% 30px 35px;
        }
    }
}
