@font-face {
  font-family: 'thomastorfs';
  src:  url('fonts/thomastorfs.eot?9kao8x');
  src:  url('fonts/thomastorfs.eot?9kao8x#iefix') format('embedded-opentype'),
    url('fonts/thomastorfs.ttf?9kao8x') format('truetype'),
    url('fonts/thomastorfs.woff?9kao8x') format('woff'),
    url('fonts/thomastorfs.svg?9kao8x#thomastorfs') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'thomastorfs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}
.icon-logo-torfs-consulting:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-down-noborder:before {
  content: "\e907";
}
