doctype xml
rss(version='2.0')
    channel
        title Torfs Consulting RSS Feed
        link http://torfsconsulting.com/feed/rss
        description
        language en-US
        each post in locals.blogposts
            item
                title= post.title
                link http://www.torfsconsulting.com#{post._url}
                pubDate= new Date(post.dateFull).toUTCString()
