+wrapper-with-bg('section', 'views/content/home/images/hero-forest.jpg', 'home', 'hero hero--bg hero--home')
    header.hero__header
        h1
            | Creating <br />
            | software <br />
            | for a cause.

    .section__content
        p Hi, I’m Thomas and I’m a <a href="https://www.linkedin.com/in/thomastorfs" target="_blank" title="Go to my LinkedIn profile">Software Engineer</a>. I’ve been professionally involved for more than 15 years. Over these years my focus has evolved towards Java and Python which I currently use at <a href="https://www.aquafin.be/en/what-we-do" target="_blank">Aquafin</a> in order to develop applications. You can <a href="/files/Resume_Thomas_Torfs_2022_june.pdf" target="_blank">download my resume here</a> or drop me a line at <a href="mailto:thomas.torfs@gmail.com">thomas.torfs@gmail.com</a>.

    .section__next

    .section__bg-bottom
        <svg version="1.1" viewBox="0 0 1440 90" xmlns="http://www.w3.org/2000/svg"><path d="m-1 64c165.94-26.954 267.82-47.581 481-32 179.93 13.99 264.19 51.007 480 53.3 182.91-3.3698 322.17-42.22 481-85.242v89.942h-1442z"/></svg>
