+wrapper('section', 'hero hero--home')
    header.hero__header
        h1
            | Torfs Consulting

    .section__content
        p Hi, I'm Thomas and I’m a Software Developer. I've been professionally involved for more than 12 years. Over these years my focus has evolved towards Java and React, which I currently use at IXOR in order to develop applications. Please download my resume below or scroll down if you want to know more.

    .scrollicon
