+wrapper-with-bg('section', 'views/content/home/images/hero.jpg', 'home', 'hero hero--bg hero--home')
    header
        h1
            | Hi <br />
            | I'm Thomas <br />
            | and I'm a Full Stack Developer

    .content
        p I've been professionally involved for 10 years, mostly by programming websites, but also design, 3D and even a bit of motion graphics. If you want to know more, click on the button below or have a look around.

    .more
        a.button.button--large.button--red(href='/about', data-href='/about', title='Read more on the about page.') Read more

    .section__next
