section.hero.wrapper
  .inner
    header
      h1
        | Hi! I'm Thomas <br />
        | and I'm a Full Stack Developer!
    .content
      p Truth is, I can help you with more than development. I’m a true jack of several trades with more than 10 years of professional experience.
      p Progamming, design, 3D, motion graphics... you name it.
      p Interested? Click on the button below, or have a look around.
