+wrapper-with-bg('section', 'views/content/home/images/hero.jpg', 'home', 'hero--home')
    header
        h1
            | Hi! <br />
            | I'm Thomas <br />
            | and I'm a Full Stack Developer!

    .content
        p Truth is, I can help you with more than development. I’m a true jack of several trades with more than 10 years of professional experience. Progamming, design, 3D, motion graphics... you name it. Interested? Click on the button below, or have a look around.

    .more
        a.button.button--red(href='/about', data-href='/about', title='Read more on the about page.') Read more
