+wrapper-with-bg('section', 'views/content/home/images/hero-lion.jpg', 'home', 'hero hero--bg hero--home')
    header.hero__header
        h1 Torfs Consulting

    .section__content
        p Hi, I'm Thomas and I’m a Software Engineer. I've been professionally involved for more than 12 years. Over these years my focus has evolved towards Java and Angular, which I currently use at several companies in order to develop applications. Please download my resume here or scroll down if you want to know more.

    .section__more
        a.button.button_large.button_red(href='/about', data-href='/about', title='Read more on the about page.')
            strong Read more

    .section__next
