+wrapper('div', 'resume--download')
    .section__download-resume
        a.button.button_white.button_white_inset.icon.icon--download(href='/files/Resume_Thomas_Torfs_2017.pdf', data-href='/about', title='Download my resume here.', target='_blank')
            strong Download my resume
