section.wrapper.home--work
    .wrapper__inner
        .wrapper__content
            header.section__header
                h1 My work
            .section__content
                if locals.projects
                    ul.cols
                        //- Copy the projects array so we can add an extra link towars the contact page
                        - var projects = JSON.parse(JSON.stringify(locals.projects))
                        - projects.push({title: 'Your project?', _url: '/contact', linkText: 'Interested? You can always contact me here.', image: 'views/content/home/images/portfolio-more.jpg', imageDest: 'home', type: 'moreLink', extraClass: 'more' })

                        //- Get the amount of projects
                        - projectCount = projects.length

                        //- Print each individual project
                        - each project, i in projects
                            - rowClasses = ['col', 'bglink_white']

                            //- Add the first and last class
                            - if (i === 0) rowClasses.push('first')
                            - if (i === (projectCount - 1)) rowClasses.push('last')

                            //- Add the row classes
                            - if (i % 2 == 0) rowClasses.push('cols__row-first')
                            - if (i % 2 == 1) rowClasses.push('cols__row-last')

                            //- Add the extra class
                            - if (project.extraClass) rowClasses.push(project.extraClass)

                            li(class=rowClasses)
                                +bglink-cols-2(project._url, project.linkText, project.image, project.imageDest)
                                    h2 #{project.title}
                                    - if (project.type !== 'moreLink')
                                        p #{project.type}
                                    - else
                                        .button.button_large.button_blue
                                            strong Hire me now


                else
                    p.center There are currently no projects
