section.work.wrapper
  .inner
    header
      h1 My work
    .content
      ul.list-work
        each project in records.projects
          li
            a(href= '/work/' + slugify(project.title), data-href= 'work/' + slugify(project.title), title= project.linkTitle)
              h2= project.title
              p= project.type
