section.work.wrapper
    .inner
        header.section__header
            h1 My work
        .content
            ul.list-work
                li
                    a(href= '/work/aristide', data-href= 'work/aristide', title='See how Aristide was made')
                        h2 Aristide
                        p webdevelopment
