include ../../_includes/mixin-wrapper-with-bg
include ../../_includes/mixin-bglink-full
include ../../_includes/mixin-book-link
include ../../_includes/mixin-star-rating

include _hero
include _news
include _reading
