include ../../_includes/mixin-wrapper
include ../../_includes/mixin-wrapper-with-bg
include ../../_includes/mixin-bglink-cols-2

include _hero
include _resume
include _experience
include _skills
include ../../_includes/partial-footer-contact
