section.wrapper.section-text.section-hero.blog-list
    .inner
        header.section__header
            h1 Latest stories

        .intro
            p 
                | Below you can find the latest stories, thoughts, new findings, etcetera.<br />
                | The paint is still wet so for the moment the list has 3 articles.<br />
                | It will be updated on a regular base.