section.wrapper.section-text.section-hero
    .inner
        header.section__header
            h1 Latest stories

        .intro
            p 
                | Below you can find the latest stories, thoughts, new findings, etcetera.<br />
                | The paint is still wet so for the moment the list has 3 articles.<br />
                | It will be updated on a regular basis.

        .content
            if site && site.blog
                ul.list--blog
                    - var showCount = 5

                    - each post, i in site.blog
                        - post_url = post._url.substr(0, post._url.lastIndexOf('.'))
                        - if (i > showCount) break

                        li
                            +bglink-full(post_url, 'Read ' + post.title, post.image, post.imageDest)
                                h2 #{post.title}
                                p.meta #{post.dateFull} <span class="separator">|</span> #{post.timetoread}
                                .button.button--white Read more
            else
                p.center There are currently no blog posts

