include ../../mixins/mixin-bg-header

p This is a paragraph from aristide.jade
p This is another paragraph

+bg-header('data/work/aristide/images/toresize.jpg', 'header/work/aristide')
  p This is a test
