/**
 * #############################################################################
 *
 * Objects: Wrapper
 *
 * #############################################################################
 */

.wrapper {
    position: relative;
}

/* wrapper content */
.wrapper__inner {
    padding: 0 $gutter;
}
.wrapper__content {
    margin: 0 auto;
    max-width: $bp-desktop-large-min;
}

/* with background */
.wrapper--bg {
    /* default typography */
    color: #fff;

    h1, h2, h3, h4, h5 {
        color: #fff;
    }

    /* background positioning */
    background-color: $color-bg-dark;
    background-position: 50% 50%;
    background-size: cover;
}
