/**
 * #############################################################################
 *
 * Settings: Colors
 *
 * #############################################################################
 */

/**
 * color definitions
 * ---------------------------------------------------------------------------*/
/* light greys */
$color-grey-light: #c6c6c6;
$color-grey-lighter: #e3e3e3;
$color-grey-lightest: #f1f1f1;

/* greys */
$color-grey: #999999;
$color-grey-2: #717171;
$color-grey-3: #5b5b5b;

/* dark greys */
$color-grey-dark: #2a2a2a;
$color-grey-darker: #1e1e1e;
$color-grey-darkest: #0e0e0e;

/* reds */
$color-red-lighter: #ffc0c0;
$color-red-light: #ff2828;
$color-red-dark: #db1818;

/* colors */
$color-red: #ff0808;
$color-blue: #0eb3ed;
$color-blue-light: #4ec7f1;
$color-green: #71d61f;
$color-green-light: #a7e45c;

/**
 * assignments
 * ---------------------------------------------------------------------------*/
/* backgrounds */
$color-bg-main: #fff;
$color-bg-dark: $color-grey-dark;
$color-bg-black-trans: rgba(0, 0, 0, 0.9);
$color-bg-white-trans-light: rgba(255, 255, 255, 0.1);

/* typography */
$color-font: #000;
$color-font-header: #000;
$color-font-caption: $color-grey;
$color-font-caption-light: #fff;
$color-font-link: $color-blue;

/* backgrounds */
$color-footer: $color-grey-dark;
$color-footer-bottom: $color-grey-darkest;
