/**
 * #############################################################################
 *
 * Settings: Colors
 *
 * #############################################################################
 */

/**
 * color definitions
 * ---------------------------------------------------------------------------*/
/* light greys */
$color-grey-light: #c6c6c6;
$color-grey-lighter: #e3e3e3;
$color-grey-lightest: #f1f1f1;

/* greys */
$color-grey: #999999;
$color-grey-2: #717171;
$color-grey-3: #5b5b5b;

/* dark greys */
$color-grey-dark: #2a2a2a;
$color-grey-darker: #1e1e1e;
$color-grey-darkest: #0e0e0e;

/* blues */
$color-blue-lighter: #bfc9ff;
$color-blue-light: #2949ff;
$color-blue-dark: #080f37;

/* reds */
$color-red-lighter: #ffc0c0;
$color-red-light: #ff2828;
$color-red-dark: #db1818;

/* colors */
$color-red: #ff0808;
$color-blue: #0a1349;

/**
 * assignments
 * ---------------------------------------------------------------------------*/
/* backgrounds */
$color-bg-main: #fff;
$color-bg-dark: $color-blue-dark;
$color-bg-blue-trans: rgba(10, 19, 73, 0.9);
$color-bg-white-trans-light: rgba(255, 255, 255, 0.1);

/* typography */
$color-font: #000;
$color-font-header: $color-blue;

/* backgrounds */
$color-footer: $color-blue-dark;
$color-footer-bottom: $color-grey-darkest;
